<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>915070395902-q4a23t3m7uqcjeat8v0ue9nn3cg57lte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915070395902-q4a23t3m7uqcjeat8v0ue9nn3cg57lte</string>
	<key>API_KEY</key>
	<string>AIzaSyBA2HdYTxzeXvIJedXm2Cx2MKpPv_2-pB0</string>
	<key>GCM_SENDER_ID</key>
	<string>915070395902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cvenkatramani.AsthmaAid</string>
	<key>PROJECT_ID</key>
	<string>asthmatracker-4cbe1</string>
	<key>STORAGE_BUCKET</key>
	<string>asthmatracker-4cbe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915070395902:ios:5f1094d59e3c973f</string>
	<key>DATABASE_URL</key>
	<string>https://asthmatracker-4cbe1.firebaseio.com</string>
</dict>
</plist>